---
title: Pricing
layout: narrow
---
<style>
  .call-to-action {
    padding-left: 1.25em;
    padding-right: 1.25em;
    justify-content: left;
  }
</style>

<h1 class="subtitle is-1">Everything Included</h1>
<h1 class="title is-1 has-text-info">at $15 / month</h1>
<h2 class="subtitle is-4">paid every 3 months</h2>

{% include pricing-feature.html icon="images" text="4 new photos every season" %}
{% include pricing-feature.html icon="vector-square" text='4 complimentary frames, 8x10"' %}
{% include pricing-feature.html icon="book-open" text="Notes about your photographers" %}
{% include pricing-feature.html icon="glasses" text="Personal curator who gets to knows you" %}
{% include pricing-feature.html icon="shipping-fast" text="Free shipping, anywhere in the US" %}
{% include pricing-feature.html icon="ban" text="Cancel at any time" %}

<a class="button is-dark is-fullwidth is-size-4 call-to-action" href="/profile">
  <span class="icon"><i class="fas fa-arrow-right"></i></span>
  <span>Try the free quiz now!</span>
</a>


{% include newsletter.html %}
