---
title: Pricing
layout: narrow
---
<style>
  .message-header > * {
    margin: 0 auto;
  }
</style>

<h1 class="title is-1">$45 per payment</h1>
<h2 class="subtitle">that's $15 / month — paid 4 times / year</h2>

<div class="message is-link is-large">
  <div class="message-header">
    <p>The <u>Everything Included</u> Plan</p>
  </div>
  <div class="message-body">
    {% include pricing-feature.html icon="images" text="4 new photos every season" %}
    {% include pricing-feature.html icon="vector-square" text='4 complimentary frames, 8x10"' %}
    {% include pricing-feature.html icon="book-open" text="Notes about your photographers" %}
    {% include pricing-feature.html icon="glasses" text="Personal curator who gets to knows you" %}
    {% include pricing-feature.html icon="shipping-fast" text="Free shipping, anywhere in the US" %}
  </div>
</div>

<p>
  We think you'll love <em>Apples for Dinner</em>,
  but you are free to cancel your subscription at any time.
</p>
