<!-- Begin MailChimp Signup Form -->
<div class="notification is-info" style="margin-top: 3em">
  <form action="https://applesfordinner.us18.list-manage.com/subscribe/post?u=8fe3bed1e121a07869166872c&amp;id=593737e970" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <h2 class="title">
      <span class="icon"><i class="far fa-envelope-open"></i></span>
      &nbsp;<span>Keep in touch</span>
    </h2>
    <p class="subtitle">
      Sign up for deals, news, and decoration tips
    </p>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8fe3bed1e121a07869166872c_593737e970" tabindex="-1" value=""></div>
    <div class="field is-grouped">
      <div class="control is-expanded">
        <input required type="email" placeholder="Email Address" name="EMAIL" class="input is-medium" id="mce-EMAIL">
      </div>
      <div class="control">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-info is-medium is-outlined is-inverted">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->

<!--
<style>
</style>

<div class="email-signup">
  <a class="button is-medium is-info" href="/">
    <span class="icon"><i class="fas fa-home"></i></span>
    <span>Home</span>
  </a>
  <a class="button is-medium is-text" href="/blog">
    <span class="icon"><i class="fas fa-align-left"></i></span>
    <span>All posts</span>
  </a>
</div>
-->
