<div class="column is-4-desktop is-6-tablet is-12-mobile">
  <div class="card">
    <div class="card-image">
      <figure class="image is-{{ include.dimmensions }}">
        <img src="/images/profile-option-{{ include.name }}.jpg" alt="{{ include.name }} picture">
      </figure>
    </div>
    <div class="card-content">
      <div class=".inline-block">
        <label class="checkbox">
          <input type="checkbox" name="{{ include.name }}" onchange="update('likes-{{ include.name }}', 'checked', this)" data-com.agilebits.onepassword.user-edited="yes">
          {{ include.name | capitalize }}
        </label>
      </div>
    </div>
  </div>
</div>
