---
layout: base
---

<div class="container">
  <nav class="navbar has-shadow">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="heading is-marginless">□ Apples for Dinner</span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/pricing">Pricing</a>
        <a class="navbar-item" href="/profile">Get started</a>
      </div>
    </div>
  </nav>
</div>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        {{ content }}
      </div>
    </div>
  </div>
</div>
