---
layout: base
---

<div class="container">
  <nav class="navbar has-shadow">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="heading is-marginless">□ Apples for Dinner</span>
      </a>
      <a class="navbar-burger" role="button" aria-label="menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/pricing">Pricing</a>
        <a class="navbar-item" href="https://airtable.com/shrSOc2CYdFvz4fDU" target="_blank">For artists</a>
        <a class="navbar-item" href="/profile">Get started</a>
      </div>
    </div>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var menu = document.querySelector(".navbar-burger")
    menu.addEventListener("click", function() {
      menu.classList.toggle("is-active");
      document.querySelector(".navbar-menu").classList.toggle("is-active");
    });
  });
</script>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        {{ content }}
      </div>
    </div>
  </div>
</div>
